/* Resets */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Global Variables */
:root {

    /* Colors */

    /* Primary */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral */

    --off-white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray-blue: hsl(236, 13%, 42%);
    --darkest-blue: hsl(240, 100%, 5%);
}

/* Typography */
body {
    font-family: 'Inter', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5;
    font-weight: 400;

    color: var(--dark-gray-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.1;
    color: var(--darkest-blue);
}

h1 {
    font-size: 2.5rem;
}

/* general styles */

hr, .link {
    color: var(--dark-gray-blue);
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* container styles */
.container {
    padding: 2rem 1rem;
}

.grid-container {
    display: grid;
    gap: 2.5rem;
}

/* nav styles */
.main-nav {
    position: relative;
}

.main-nav .container {
    padding-bottom: 0;
}

.logo {
    height: 30px;
}

.nav__items {
    list-style-type: none;
    padding: 0;

    /* temporary */
    display: none;
}

.nav__btn {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
}